
{% extends 'base.html.twig' %}

{% block content %}
    <style>
        body
            {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        .sidebar
            {
                background-color: teal;
                width: 100%;
                top: 0;
                left: 0;
                padding: 1%;
                position:absolute;
            }
        .accueil
            {
                color:white;
                font-size:1.7rem;
            }
        .accueil:hover
            {
                color:white;
            }
        a
            {
                color: black;
                font-size:large;
                text-decoration: none;
            }
        a:hover
            {
                color:black;
                text-decoration:none;
            }
        h2
            {
                color: black;
                font-size:2.4rem;

            }
        .container
        {
           margin-top:10%;
        }
        
        .row
        {
            margin-top:8%;
            margin-left:9%;
        }
    </style>
    
{% block sidebar %}
    <div class="sidebar">
        <a href="{{path('path_home')}}" class="accueil">Accueil</a>
    </div>
{% endblock %}
    <div class="container">
        <center><h2>Choisir le type de compte que vous voulez créer</h2></center>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('physique_new', {'slug':1}) }}"><i class="fa fa-user" style="font-size:385px"></i></a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('physique_new',{'slug':2})  }}"><i class="fa fa-building-o" style="font-size:385px"></i></a>
            </div>
        </div>
    </div>    
{% endblock %}
