body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar
{
    background-color: teal;
    width: 96%;
    top: 0;
    left: 0;
    padding: 2%;
    position:absolute;
}
a{
    color: white;
    font-size:large;
    border: solid rgb(112, 108, 108) 1px;
}